
.parrafo{ 
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
}

.imagen7{ 
    border-radius: 60%;
    text-align: center;
}

.parrafo1{ 
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
}

.imagen8{ 
    border-radius: 60%;
    text-align: center;
}

.parrafo2{ 
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
}

.imagen9{ 
    border-radius: 60%;
    text-align: center;
}

.actividad1{
    text-align: left;
    color: red;
}

.actividad3{
    text-align: left;
    color: red;
}

